*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
    margin: 0px auto;
    text-align: center;
}
#root{
    width: 100%;
    height: 100%;
}
.base{
    width: 100%;
    height: 100%;
}
.one{
    width: 100%;
    height: 20%;
    background-color: yellow;
}
.one ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
section{
    width: 100%;
    height: 85%;
    text-align: center;
    background-color: yellowgreen;
}